In [147]:
import pandas as pd

In [148]:
# Серия — это одномерный массив, который может хранить различные типы данных, в том числе смешанные типы данных.
# Метки строк в серии называются индексом. Любой список, кортеж и словарь можно преобразовать в серию с помощью метода «серии».
# converting tuple to Series
h = ('AA', '2012-02-01', 100, 10.2)
s = pd.Series(h)
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0            AA
1    2012-02-01
2           100
3          10.2
dtype: object

In [149]:
# converting dict to Series
d = {'name' : 'IBM', 'date' : '2010-09-08', 'shares' : 100, 'price' : 10.2}
ds = pd.Series(d)
print(type(ds))
print(ds)

<class 'pandas.core.series.Series'>
name             IBM
date      2010-09-08
shares           100
price           10.2
dtype: object

In [150]:
# Note that in the tuple-conversion, the index are set to ‘0, 1, 2 and 3’. We can provide custom index names as follows.
# Обратите внимание, что при преобразовании кортежа индекс устанавливается на «0, 1, 2 и 3»
# Мы можем предоставить пользовательские имена индексов как следует.
f = ['FB', '2001-08-02', 90, 3.2]
f = pd.Series(f, index = ['name', 'date', 'shares', 'price'])
print(f)

name              FB
date      2001-08-02
shares            90
price            3.2
dtype: object

In [151]:
f['shares']

90

In [152]:
f[0]

'FB'

In [153]:
# Elements of the Series can be accessed using index name e.g. f[‘shares’] or f[0] in below code. Further, specific
# elements can be selected by providing the index in the list
# Доступ к элементам серии можно получить, используя индексное имя, например. f[‘shares’] или f[0] в приведенном ниже коде. Далее, конкретные
# элементы могут быть выбраны путем указания индекса в списке
f[['shares', 'price']]

shares     90
price     3.2
dtype: object

#### DataFrame

In [154]:
# The most common way to create a DataFrame is by using the dictionary of equal-length list.
# DataFrame имеет два разных индекса, т.е.индекс столбца и индекс строки.
# Наиболее распространенный способ создания DataFrame — использование словаря списка равной длины.
data = { 'name' : ['AA', 'IBM', 'GOOG',],
         'date' : ['2001-12-01', '2012-02-10', '2010-04-09'],
         'shares' : [100, 30, 90],
         'price' : [12.3, 10.3, 32.2]
       }
df = pd.DataFrame(data)
type(df)

pandas.core.frame.DataFrame

In [155]:
df

   name        date  shares  price
0    AA  2001-12-01     100   12.3
1   IBM  2012-02-10      30   10.3
2  GOOG  2010-04-09      90   32.2

In [156]:
# Additional columns can be added after defining a DataFrame as below,
# Дополнительные столбцы можно добавить после определения DataFrame, как показано ниже
df['owner'] = 'Unknown'
df

   name        date  shares  price    owner
0    AA  2001-12-01     100   12.3  Unknown
1   IBM  2012-02-10      30   10.3  Unknown
2  GOOG  2010-04-09      90   32.2  Unknown

In [157]:
# Currently, the row index are set to 0, 1 and 2. These can be changed using ‘index’ attribute as below,
# В настоящее время индекс строки установлен на 0, 1 и 2.
# Их можно изменить с помощью атрибута «index», как показано ниже:
df.index = ['one', 'two', 'three']
df

       name        date  shares  price    owner
one      AA  2001-12-01     100   12.3  Unknown
two     IBM  2012-02-10      30   10.3  Unknown
three  GOOG  2010-04-09      90   32.2  Unknown

In [158]:
# Further, any column of the DataFrame can be set as index using ‘set_index()’ attribute, as shown below,
# Кроме того, любой столбец DataFrame может быть установлен как индекс с помощью атрибута set_index(), как показано ниже:
df = df.set_index(['name'])
print(df)

            date  shares  price    owner
name
AA    2001-12-01     100   12.3  Unknown
IBM   2012-02-10      30   10.3  Unknown
GOOG  2010-04-09      90   32.2  Unknown

In [159]:
# access data by row-index
# доступ к данным по индексу строки
df.ix["AA"]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [160]:
# access all rows for a column
df.ix[:, 'name']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [161]:
# Any column can be deleted using ‘del’ or ‘drop’ commands,
# Любой столбец можно удалить с помощью команд «del» или «drop»,
del df['owner']
df

            date  shares  price
name
AA    2001-12-01     100   12.3
IBM   2012-02-10      30   10.3
GOOG  2010-04-09      90   32.2

In [162]:
df.drop('shares', axis = 1)

            date  price
name
AA    2001-12-01   12.3
IBM   2012-02-10   10.3
GOOG  2010-04-09   32.2